.jobs .subtitle {
  color: var(--grey-2);
}

.jobs-text {
  font-size: 2.4rem;
  line-height: 1.33;
  margin-bottom: 6rem;
  max-width: 40ch;
  color: var(--grey-6);
}

.jobs-text strong {
  color: var(--grey-8);
}
